APP_NAME="Suivi Heures & Salaire"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false
CACHE_STORE=file
LOG_CHANNEL=single

AUTH_USERNAME=
AUTH_EMAIL=
AUTH_PASSWORD_HASH=
