/.env
/.env.testing
/.env.docker
/docker-data/
/vendor/
/node_modules/
/playwright-report/
/test-results/
/database/*.sqlite
/storage/*.key
/storage/logs/*.log
/.phpunit.cache/
/.idea/
/.vscode/
.DS_Store

/.phpunit.result.cache
